click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
ansi2html
Brotli
certifi
charset-normalizer
colorama
contourpy
cssselect2
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
defusedxml
flask-paginate
fonttools
html5lib
idna
importlib-metadata
importlib-resources
kaleido
kiwisolver
mysql-connector-python
nest-asyncio
numpy
pandas
packaging
Pillow
plotly
protobuf
pycparser
pydyf
pyparsing
pyphen
python-dateutil
pytz
reportlab
requests
retrying
six
tenacity
tinycss2
typing_extensions
tzdata
urllib3
webencodings
zipp
zopfli
setuptools
wheel
xlsxwriter
openpyxl
